.cash-move-c {
    display: flex;
    flex-flow: column;
    padding-top: 15px;
}

.cash-move-c .input-amount {
    display: flex;
    flex-flow: row;
}

.cash-move-c .input-type-c {
    height: 40px;
    line-height:40px;
    text-align:center;
    border-radius: 2px;
    padding: 0 12px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px rgba(60,60,60,0.1);
    background: rgba(0,0,0,0.05);
    white-space: nowrap;
}

.cash-move-c .input-type-c.highlight {
    background: $primary !important;
    border: solid 1px #64AF8A !important;
    color: white !important;
}

